﻿/* for admin setting */
.sfBannerimage {
	max-width:300px;
	max-height:200px;
}
.bx-wrapper { position: relative;}
/* fronted view */
.sfBannerslide {
	overflow:hidden; 
}
.bx-window ul {
	overflow:hidden;
}

.sfBannerDesc {
	position:absolute;
	top:30%;
	text-align:left;
	color:#fff; right: 15%;
	width:400px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);

}
.sfImageholder { /*width:450px;margin-left:50px;*/}
.sfImageholder img {width:100%}
.sfBannerDesc h1{ font-size:42px;color:#fff; line-height:42px; color:#cdffc2;}
.sfBannerDesc h2{
	color:#fff;
	font:72px/72px 'source_sans_prolight',Helvetica, Arial, sans-serif;
	margin-bottom:0;
}
.sfBannerDesc p{font:50px/50px 'source_sans_prosemibold',Helvetica, Arial, sans-serif;}
.bannerImageWrapper{ /*padding-top:20px;*/}
/*previous button*/
.bx-prev, .bx-next {
	position: absolute;
	top: 50%;
	z-index: 99;
	width: 31px;
	height:60px; margin-top: -43px;
	text-indent: -9999px; opacity: 0.7;
	
}
.bx-next { right:5%; background: url(../images/next.png) no-repeat;}

.bx-prev:hover, .bx-next:hover { opacity: 1;}

.bx-prev { left: 5%; background: url(../images/prev.png) no-repeat;}


.sfInnerwrapper  .bx-prev { /*left: -10%;*/}
.sfInnerwrapper  .bx-next { /*right:-10%;*/}

/*pager links*/
.bx-pager {
	text-align: center;
	position:absolute; left:50%; bottom: 0;
	z-index:999;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.bx-pager a {
	 width:15px; height: 15px; position: relative; position: relative;
	font-size: 12px; display: inline-block;
	zoom: 1; text-indent: -999em; 
	background: url(../images/pager.png) no-repeat; opacity:0.55;
}

.bx-pager-item {  float:left; margin-right: 5px; }

.bx-pager a.active { opacity:1;}

/*captions*/
.bx-captions {
	text-align: center;
	font-size: 12px;
	padding: 7px 0;
	color: #666;
}
/*auto controls*/
.bx-auto {
	text-align: center;
	padding-top: 15px;
}
.bx-auto a {
	color: #666;
	font-size: 12px;
}
.container span.cssclassNoBanner {
	font: bold 24px/36px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	display: block;
	padding-top: 50px;
}
ul.thumbs a.pager-active img {
	border: 3px solid #515151;
	-moz-opacity: 2;
	-khtml-opacity:2;
	opacity: 2;
}
ul.thumbs {
	top: 1;
	padding: 3;
	margin: 3;
	position: absolute;
	width: 100%;
	float: left;
	margin-top:-155px;
	-moz-opacity: 0.5;
	-khtml-opacity:0.5;
	opacity: 0.6;
}
ul.thumbs li {
	cursor: hand;
	cursor: pointer;
	display:inline;
	width: 100%;
	padding: 0;
	position: relative;
}
.navouter {
	color: #FFFFFF;
	height: 276px !important;
	margin-top: -348px;
	overflow:hidden;
	position:absolute;
	right: 2px;
	width: 78px !important;
}
.slider-main-outer {
	position:fixed;
	z-index:3px;
	overflow:hidden;
}

.ajax__tab_body .sfInnerwrapper { width: auto !important;}
#sfSlider, #sfSlider li { margin-bottom: 0;}
