﻿.cssClassTabPanelTable1 table{border:solid 1px #ededed; margin-bottom:15px;}
.cssClassTabPanelTable1 table td{padding:10px 15px; border-bottom:solid 1px #ededed;vertical-align: top; font-size:14px; line-height:20px;}
.cssClassTabPanelTable1 table td.cssClassTableLeftCol{ width:150px; font-weight:bold;}
.cssClassPopularTagBox{ background:#fff; border:1px solid #ccc;}
.cssClassPopularItemTags {padding: 10px;}
.cssClassRatingdesc { float:left; margin-bottom:10px;}
.cssClassRateReview .cssClassuserRatingBox{float:left; background:none; margin:0;}
.cssClassRatingInfo p span,.cssClassRatingReviewDate{ color:#686868;}
 #UserDetailsTitle{background: rgba(255,94,0,1);  padding: 5px 5px 5px 0;position: relative;left: -11px;font-family: Rokkitt; width: 103%;}
#UserDetails_TabContainer h2{background: #fa8206;color: #fff; padding: 5px 5px 5px 15px; text-transform: uppercase; font-size: 18px;}

#dynUserReviewDetailsForm::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
#dynUserReviewDetailsForm::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}
#dynUserReviewDetailsForm::-webkit-scrollbar-track {
       background-color: #F5F5F5;
       border-radius: 10px;
}
#Redmrbtn a {
float:right;
color: #fff;
}

.ArrBtn {
    position: relative;
    margin: 0;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    background: #08c;
color: #fff;
    font-size: 14px;
    font-family:Rokkit;
   
}
.ArrBtn:hover{box-shadow: inset -1px -22px 38px -1px rgba(0,0,0,0.61);
}
/*.next:hover:after{box-shadow: inset -1px -22px 38px -1px rgba(0,0,0,0.61);}*/


 

