﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="StoreQuickStatics.ascx.cs" Inherits="Modules_SanchiCommerce_AspxAdminDashBoard_StoreQuickStatics" %>


<div class="cssStoreQuickStatics">
    <asp:literal ID="ltrStoreQuickStatics" runat="server"></asp:literal>
</div>
<script type="text/javascript">

</script>