﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TotalStoreRevenue.ascx.cs"
    Inherits="Modules_SanchiCommerce_AspxAdminDashBoard_TotalStoreRevenue" %>

<script type="text/javascript">
    //<![CDATA[

    //]]>
</script>

<div id="divTotalRevenue" class="cssClssRoundedBoxTable">
    <div class="cssClassCommonBox Curve">
        <div class="sfFormwrapper sfPadding">
            <div id="divTotalOrderRevenueAdmindash" class="sfGridwrapper">
            </div>
        </div>
    </div>
</div>
