﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PayThroughPayUMoney.aspx.cs" Inherits="Modules_SanchiCommerce_PayUMoney_PayThroughPayUMoney" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Processing your Order....</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
    <script>
        //debugger;
        $(function () {
            $(this).bind("contextmenu", function (e) {
                e.preventDefault();
            });
            $("#clickhere").click(function () {
                document.MoneybookersForm.submit();
            });
        });
    </script>

    <style type="text/css">
        body {
            font-family: verdana;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <form id="Form1" runat="server">
<div>    
 <%--<asp:Label ID="lblnotity" runat="server" Text="if you are not redirecting to EBS click " meta:resourcekey="lblnotityResource1"></asp:Label> 
    <asp:LinkButton ID="clickhere" runat="server" onclick="clickhere_Click">here..</asp:LinkButton>--%>
  
</div>
<input type="hidden" runat="server" id="key" name="key" />
<input type="hidden" runat="server" id="hash" name="hash" />
<input type="hidden" runat="server" id="txnid" name="txnid" />
<input type="hidden" runat="server" id="enforce_paymethod" name="enforce_paymethod" />
    </form>
</body>
</html>
