/*!
 * jQuery Simple Share
 * version 1.0, March 13th, 2014
 */
.smpl-share {
    border-top:solid 1px #ededed;
    padding:15px;
    color:#333;
    background:#fff;
}
.smpl-share .item {
    cursor: pointer;
    width: 30px;
    float:left;
}
    .smpl-share .item i:hover {
        color:#0088cc;
    }

.smpl-share .twitter {
    background-position: -40px 0;
}

.smpl-share .googleplus {
    background-position: -80px 0;
}

.smpl-share .linkedin {
    background-position: -120px 0;
}
