﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LabelPreview.aspx.cs" Inherits="Modules_SanchiCommerce_AspxShipmentsManagement_LabelPreview" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="sfFormwrapper">
        <div class="sfGridwrapper">
            <div class="sfGridwrapperContent">
                <asp:Literal runat="server" ID="ltLabelDetail"></asp:Literal>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
