﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="userreview.ascx.cs" Inherits="Modules_Review_userreview" %>

<script type="text/javascript">
function LimtCharacters(txtMsg, CharLength, indicator) {
chars = txtMsg.value.length;
document.getElementById(indicator).innerHTML = CharLength - chars;
if (chars > CharLength) {
txtMsg.value = txtMsg.value.substring(0, CharLength);
}
}
</script>
<script type="text/javascript">

    

    $(function () {
     $(this).SageUsersReview({
         });

 });

</script>

<span class="ReviewForm"> </span>
<div class="cssClassReviewDetailInformation">
    <asp:Literal ID="ltrReviewDetailsForm" runat="server" EnableViewState="false"></asp:Literal>
</div> 
<%--<div id="checkin_review">
	<h2 class="one_review"><a  onclick="pop()">Review Here</a></h2>
</div>--%>
<div id="checkinpopup" style="display:none;">
  <div class="cssClassCloseIcon">
    <button type="button" class="cssClassClose cssclose">
    <span class="sfLocale"><i class="i-close"></i></span></button>
  </div>
    <div class="leftdiv">
        <div class="Rvhear"><h2 style="display: -webkit-inline-box">Write Review Here </h2></div>
        <div class="rating">
            <input type="button" id="Rating1" class="Empty" onclick="return Decide(1);" onmouseover="return Decide(1);" />
            <input type="button" id="Rating2" class="Empty" onclick="return Decide(2);" onmouseover="return Decide(2);" />
            <input type="button" id="Rating3" class="Empty" onclick="return Decide(3);" onmouseover="return Decide(3);" />
            <input type="button" id="Rating4" class="Empty" onclick="return Decide(4);" onmouseover="return Decide(4);" />
            <input type="button" id="Rating5" class="Empty" onclick="return Decide(5);" onmouseover="return Decide(5);" />
            <label id="lblRate"></label>
            <span style="color:red;display: none;">Please enter the rating..</span>             
        </div>
      
  <%-- <div id="UserTextBox">
        <input type="text" id="txtUserNm" name="name"  minlength="2" maxlength="20" onkeydown="return validateUser(event)" />
          <span style="color:red;display: none;">Please enter the Nick Name..</span> </div>--%>
       <%--  <label id="lblmessage3" style="font-weight: 100;display:none" class="sfMessage sfLocale">text</label> --%>  
        <div id="CountCharacters"><span id="countleft" style="color:#808080;">150</span> <span style="color:#808080;">caharacters left</span></div>
        <div id="UserCommentBox">
        <textarea name="ctext" id="ctext" maxlength="150" onkeyup="LimtCharacters(this,150,'countleft');"  oncopy="return false" onpaste="return false"></textarea>
   <span style="color:red;display: none;">Please enter the comment..</span></div>
    <div class="btntwo" >
    <button type="button" id="submit_button" class="SaveUpdateClick">
                <span class="sfLocale">Submit<i class="fa fa-angle-right"></i></span></button>
                <button type="button" id="cancelbtn2" class="cssclose">
                <span class="sfLocale">Cancel<i  class="i-close"></i></span></button>
            </div>    
    </div>

</div>

<div id="LoginPop" style="display:none; ">
    <div id="PopupHeader"><h2>Login Required !</h2>
        <div class="cssClassCloseIcon">
    <button type="button" class="cssClassClose cssclose">
    <span class="sfLocale"><i class="i-close"></i></span></button>
  </div>
       <%-- <button type="button" id="CancleBut" >
     <span class="sfLocale"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
      </button>--%>
    </div>
    <div id="discription"><p>Please Login to your KBaccount to write Review.If you don't have any KB account please register your self.</p></div>
    <div id="sub_btn">
    <a href="/sf/sfLogin.aspx?ReturnUrl=/Home.aspx" id="Login_button" class="SaveReviewClick"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
 <%--   <button id="CancleBut" type="button" ><span class="sfLocale "><i class="fa fa-times-circle" aria-hidden="true"></i>Cancle</span></button>--%></div>
</div>



   


