﻿.cssCategoryBlock{ margin:30px 1.25% 0;  border-bottom: solid 1px #ededed;
    border-right: solid 1px #ededed;}
.categorywrap{ padding:0 20px 20px; background:#fff;}
.categorywrap .cssClassProductsBox{ border:none; padding:0; }
.cssCategoryBlock .classCategoryName h2{ margin-bottom:0; text-align:left;}
.cssCategoryBlock .classCategoryName h2 span{ font-size:22px; background:#bdc6cb; font-weight:bold;}
#tblcategoryItems{ margin-bottom:40px;}


.cssCategoryBlock .cssClassProductsBox img {
    width: 53%;
}

.categorywrap{ padding:20px; background:#fff;}
.categorywrap .cssClassProductPicture{ height:200px; overflow:hidden;}
.categorywrap .cssClassProductPicture a img{ height:100%; width:auto;}