﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TrackYourOrder.ascx.cs" Inherits="Modules_SanchiCommerce_AspxOrderTracking_TrackYourOrder" %>
<div class="trackorder">

   <%-- <div id="divHeader" class="cssClassSlider" style="">
        <div id="slider-container">
            <div id="sliderObj" class="cat-slideshow-wrap">
            <div class="cat_Slides cat-slide-container">
                <div class="cat-slide-container-inner">
                    <div class="cssCatImage">
                        <a href="/category/Grocery%20ampersand%20Staples.aspx">
                            
                        <img src="/Modules/SanchiCommerce/AspxCategoryManagement/uploads/cat_46_198761.jpg" alt="Grocery &amp; Staples" title="Grocery &amp; Staples">
                        </a>
                    </div>
                    <div class="cssCatDesc"><span>Grocery &amp; Staples</span><p>Grocery &amp; Staples</p></div>
                    </div>
              </div>
          
</div>
</div>
</div>--%>
    <div class="orderimage">
       <%-- <img id="imgs" width="170px" height="160px" ></img>--%>
        <img src="/modules/sanchicommerce/AspxOrderTracking/images/ordertrack-banner.jpg" id="trackimg" />
    </div>
    
    <h2>Track Your Order</h2>
    <input type="text" id="OrderSearch" placeholder="Type Your Order Id Here..." onkeydown = "if (event.keyCode == 13)
                        document.getElementById('BtnOrderID').click()"/>
    <a id="BtnOrderID" class="cssClassGreenBtn">Search</a>
     <a id="ClearBtn" class="cssClassGreenBtn">Clear</a>
    <%--<input type="button"  value="Reset"/>--%>
    <div id="OrderStatusResult"></div>

</div>
